@import "../shared/variable.scss";
@import "../shared/mixin.scss";

.footer {
  min-height: 200px;
  height: auto;
  padding: 20px 32px;
  background-color: $dark-gray !important;
  color: #ccc;
  justify-content: center;
  gap: 2rem;
  text-align: left;

  ul {
    list-style: none;
    padding: 0;
  }

  h3 {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  a {
    color: #ccc;
    text-decoration: none;
  }
}

.footer_about p {
  font-size: 0.85rem;
}

.footer_main {
  display: flex;
  flex-direction: column;

  @include screen(desktop) {
    align-items: center;
  }
}

.footer_right {
  .footer_links {
    padding: 1.2rem;
    display: flex;
    gap: 20px;
    margin-left: -20px;

    @include screen(desktop) {
      padding-top: 0;
      padding-bottom: 0;
    }

    img:not(.long-logo) {
      width: 40px;
      height: 40px;
      filter: invert(1);
    }

    .long-logo {
      width: auto;
      height: 40px;
    }
  }
}

.copyright {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem 0 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
