$red: #b6272d;
$white: white;
$brown: #402f1d;
$dark-gray: dimgray;
$gray: #707070;
$black: black;

$screen-tablet-portrait: 768px;
$screen-tablet-landscape: 992px;
$screen-desktop: 1200px;
$screen-large-desktop: 1400px;
$screen-xlarge-desktop: 1800px;

$font-family-default: Arial, Helvetica, Times, serif;
$font-family-regular: "Prompt", $font-family-default;
